<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>HTML5 Canvas画印章</title>

</head>

<body>

<canvas id="canvas" width="200" height="200" style="border: 1px solid #666666;"></canvas>
<br>
请刷新界面后输入测试文字：<br>
<input type="text" id="companyName" placeholder="请输入单位名称"/><br>
<input type="text" id="text" placeholder="请输入印章类型"/><br>
<input type="text" id="code" placeholder="请输入印章编码"/>
<input type="button" value="提交" onclick="drawSeal()"/>
<script>
    function drawSeal(){

        var companyName = document.getElementById("companyName").value;

        var canvas = document.getElementById("canvas");

        var context = canvas.getContext('2d');

        var text = document.getElementById("text").value;

        var code = document.getElementById("code").value;

        var width = 200 / 2;

        var height = 200 / 2;

        context.textBaseline = 'middle';//设置文本的垂直对齐方式

        context.textAlign = 'center'; //设置文本的水平对对齐方式

        //绘制边框
        drawBorder(width,height);
        //绘制印章类型
        drawSealClass(text, width, height);
        //画五角星
        create5star(context,width,height-5,20,"#f00",0);
        //绘制上部文字
        drawCompanyName(companyName,width,height);
        //绘制底部编码
        drawCode(code,width,height);

        // 绘制印章边框
        function drawBorder(width,height){
            context.lineWidth = 4;
            context.strokeStyle = "#f00";  //设置颜色
            context.beginPath();  // beginPath() 丢弃任何当前定义的路径并且开始一条新的路径。它把当前的点设置为 (0,0)。
            context.arc(width, height, 90, 0, Math.PI * 2);//创建圆， 宽、高、半径
            context.stroke();  // 开始绘制
        }
        // 绘制印章名称
        /**

        *绘制印章的类型，text

        **/
        function drawSealClass(text,width,height){

            context.save();

            context.font = '22px 宋体';

            context.lineWidth=1; // 字体的粗细

            context.strokeStyle = '#f00';

            context.strokeText(text,width,height+40);

            context.restore();

        }

        // 绘制印章单位

        /**

        *绘制上部的单位名称

        **/

        function drawCompanyName(companyName,width,height){

            context.save();

            context.translate(width,height);// 平移到中心点,

            context.font = '20px 宋体'

            context.lineWidth=1; // 字体的粗细

            var count = companyName.length;// 字数

            var angle = 4*Math.PI/(3*(count+1));// 字间角度

            var chars = companyName.split("");

            var c;

            for (var i = 0; i < count; i++) {

                c = chars[i];// 需要绘制的字符

                if (i == 0) {

                    context.rotate(5 * Math.PI / 6+angle);

                } else{

                    context.rotate(angle);

                }

                context.save();

                context.translate(70, 0);// 平移到此位置,此时字和x轴垂直，公司名称和最外圈的距离

                context.rotate(Math.PI / 2);// 旋转90度,让字平行于x轴

                context.strokeText(c, 0, 0);// 此点为字的中心点

                context.restore();

            }
            context.restore();

        }

        //绘制五角星

        /**

        * 创建一个五角星形状. 该五角星的中心坐标为(sx,sy),中心到顶点的距离为radius,rotate=0时一个顶点在对称轴上

        * rotate:绕对称轴旋转rotate弧度

        */

        function create5star(context, sx, sy, radius, color, rotate) {

            context.save();

            context.fillStyle = color;

            context.translate(sx, sy);//移动坐标原点

            context.rotate(Math.PI + rotate);//旋转

            context.beginPath();//创建路径

            var x = Math.sin(0);

            var y = Math.cos(0);

            var dig = Math.PI / 5 * 4;

            for (var i = 0; i < 5; i++) {//画五角星的五条边

                var x = Math.sin(i * dig);

                var y = Math.cos(i * dig);

                context.lineTo(x * radius, y * radius);

            }

            context.closePath();

            context.stroke();

            context.fill();

            context.restore();

        }
        /**
        *绘制底部编码
        **/
        function drawCode(code, width, height){

            context.save();

            context.translate(width, height);

            context.font = '11px 宋体'

            context.lineWidth=1; // 字体的粗细

            var count = code.length;// 字数

            var angle = Math.PI/(2*(count));// 字间角度

            var chars = code.split("").reverse();  // 字符反转取出
            var chars1 = ""
            //for (var i = 0; i<count; i++){

            //}

            for (var i = 0; i < count; i++ ){
                var c = chars[i];
                if (i==0){
                    context.rotate(Math.PI/4+angle/2)
                }else{
                    context.rotate(angle)
                }

                context.save();

                context.translate(78, 0);// 平移到此位置,此时字和x轴垂直，公司名称和最外圈的距离

                context.rotate(3*Math.PI / 2);// 旋转90度,让字平行于x轴

                context.strokeText(c, 0, 0);// 此点为字的中心点

                context.restore();
            }
            context.restore();
        }

    }


</script>

