<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML5 Canvas画印章</title>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
    <canvas id="canvas" style="border: 1px solid #666666;" height="500" width="800">不支持canvas2</canvas>
    印章文字:
    <input id="textname" type="text" style="height: 30px;width: 200px;">
    <input id="changename" type="button" value="修改">
</body>
<script type="text/javascript" src="/static/js/drawEllipse.js"></script>
</html>